/* ----------Cart-main-container---------- */
.Cart-main-container {
  display: grid;
}

/* ---------- Nav Bar ---------- */


/* ------------ Cart-Element -----------*/
.cart-element {
  display: grid;
  grid-template-columns: 50% 25%;
  margin-left: 15%;
}

.cart-list {
  margin-top: 20px;
  margin-left: 5%;
}

.cart-summary {
  justify-content: center;
}

#btn-confirm-cart {
  background-color: white;
  border: 0.1px solid#008CBA;
  color: black;
}
#btn-confirm-cart:hover {
  background-color: #008CBA;
  color: white;
}