.login-form {
  max-width: 300px;
  justify-content: center;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
.container {
  display: grid;
  grid-template-columns: 75%;
  align-content: center;
  justify-content: center;
  /* background-color: blueviolet; */
}