.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 300px 300px;
  background-color: #2196F3;
  justify-content: center;
  border: 1px solid black;
  /* padding: 50px;
  margin: 20px; */
}

/* .grid-item {
  width: 150px;
  background-color: red;
  border: 1px solid black;
  justify-content: center;
} */
.grid-item.item1 {
  width: auto;
  height: auto;
  border: 1px solid black;
  background-color: chartreuse;
}
.grid-item.item2 {
  width: 100px;
  height: 100px;
  background-color: red;
  border: 1px solid black;
  justify-content: center;
}