.Home-container {
  background-color: #0060AD;
  border: 1px solid black;
  display: grid;
  height: 1080px;
  width: 1440px;
  margin-left: 12.5%;
  margin-right: 12.5%;                                                                               ;
  grid-template-rows: 10% 30% 40% 10%;
}
#home-search {
  width: 150px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
#home-search-button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}

.Main-nav {
  background-color: #EFEDED;
  border: 1px solid black;
  margin-left: 15%;
  margin-right: 15%;
  display: grid;
  grid-template-columns: 15% 15% 40% 15% 15%;
}

.Home-center {
  display: grid;
  background-color: #EFEDED;
  border: 1px solid black;
  grid-template-columns: 10% 20% 20% 20% 20%;
}
.home-menu {
  /* background-color: #EFEDED; */
  margin-top: 10%;
  /* border: 1px solid black; */
  text-align: center;

}
.Home-center-item-Notebook .button {
  width: 100%;
}
.Home-slide {
  /* background-color: #EFEDED; */
  border: 1px solid black;
}
#left-menu-button{
  width: 100%;
  
}
.Home-footer {
  background-color: #EFEDED;
  border: 1px solid black;
}
.card-1 {
  border: 1px solid black;
  justify-content: center;
}
.card-2 {
  border: 1px solid black;
}
#card2-img {
  width: 100%;
  height: 70%;
}

.card-3 {
  border: 1px solid black;
}
.card-4 {
  border: 1px solid black;
}