.payment-body {
  display: grid;
  justify-content: center;
  /* margin-top: 15px; */
  margin: 15px auto;
}

#btn-payment-body {
  background-color: whitesmoke; 
  color: black; 
  border: 0.1px solid black;
  border-radius: 3px;
}
#btn-payment-body:hover {
  background-color: #f44336;
  color: white;
}